.header {
    width: 60%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem auto;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: $font-5;

    @media only screen and (max-width: $bp-1100) {
        height: 40vh;
    }

    // ********** HEADER TEXT ( paragraph + firstName + secondName )
    .heading-primary {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: $font-1;
        z-index: 10;
        transition: .5s;
        opacity: 0;

        // ********* HELLO I AM STYLES ********
        &__paragraph {
            display: flex;
            font-size: 3rem;
            position: relative;
            color: $color-main;

            @media only screen and (max-width: $bp-1100) {
                font-size: 2.5rem;
            }

            @media only screen and (max-width: $bp-600) {
                font-size: 2rem;
            }
        }

        // ********** FIRST AND SECOND-NAME STYLES **********
        [class*="name"] {
            font-size: 5rem;
            color: $color-main;
            overflow: hidden;
            margin-top: 0%;
            height: 6.5rem;
            font-weight: 400;
            transition: 1s;
            font-weight: 400;


            @media only screen and (max-width: $bp-1100) {
                font-size: 4.5rem;
                height: 5.5rem;
            }

            @media only screen and (max-width: $bp-600) {
                font-size: 4rem;
            }
        }

        .position {
            font-size: 3.5rem;
            font-weight: 400;

            @media only screen and (max-width: $bp-1100) {
                font-size: 2.5rem;
            }

            @media only screen and (max-width: $bp-600) {
                font-size: 2rem;
            }
        }


    }
}

// CLASSES TO ADD THROUGH JAVASCRIPT 

.showGreeting {
    animation: moveInFromLeft .5s cubic-bezier(.11, .93, .62, 1.01);

    @media only screen and (max-width: $bp-700) {
        animation: moveInFromLeft .2s cubic-bezier(.11, .93, .62, 1.01);
    }
}

.hideGreeting {
    animation: moveBackToLeft .5s cubic-bezier(.11, .93, .62, 1.01);
    opacity: 0;

    @media only screen and (max-width: $bp-700) {
        animation: moveBackToLeft .3s cubic-bezier(.11, .93, .62, 1.01);
    }
}

.showName {
    animation: 2s slideUp ease;

    @media only screen and (max-width: $bp-700) {
        animation: 1s slideUp ease;
    }
}

.showNameDelay {
    animation: 3s slideUp ease;

    @media only screen and (max-width: $bp-700) {
        animation: 1.5s slideUp ease;
    }
}

.hideName {
    animation: 2s slideDown ease;
    opacity: 0;

    @media only screen and (max-width: $bp-700) {
        animation: 1s slideDown ease;
    }
}

.hideNameDelay {
    animation: 3s slideDown ease;
    opacity: 0;

    @media only screen and (max-width: $bp-700) {
        animation: 1.5s slideDown ease;
    }
}

.fullOpacity {
    opacity: 1;
}

.zeroOpacity {
    opacity: 0;
}

.margin {
    margin-left: 25%;
}

// ***** Moving background *****
// .background {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     z-index: 1;
//   }


// Different value for Firefox
@-moz-document url-prefix() {
    .header__text-box-btn-container {
        margin-bottom: 14rem;
    }
}