.navigation {
    position: relative;
    z-index: 1000;
    margin: 0 auto;
    margin-top: 3rem;
    font-size: 62.5%;
    width: 100%;

    // ********** LOGO STYLES
    &__logo {
        position: absolute;
        top: 10%;
        left: 5%;
        font-size: 2.2rem;
        font-weight: 700;
        color: $color-main;
        transition: .4s;
        letter-spacing: 1px;
        text-decoration: none;


        @media only screen and (max-width: $bp-800) {
            position: relative;
            display: inline-flex;
            left: 5%;
            z-index: -1000;
        }

        @media only screen and (max-width: $bp-500) {
            left: 10%;
        }

        @media only screen and (max-width: $bp-300) {
            left: 12%;
        }

        &::after {
            content: "";
            border: 4px solid $color-main;
            width: 200%;
            height: 200%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .8s;
        }

        &:hover {
            color: $color-main;

            @media only screen and (max-width: $bp-1100) {
                color: $color-white;
            }

            &::after {
                border: 4px solid $color-main;
                left: -50%;
                top: -50%;
                transform: rotate(180deg);

                @media only screen and (max-width: $bp-1100) {
                    transform: none;
                    border: 3px solid $color-white;
                }
            }
        }
    }

    // ********** MENU ITEMS STYLES
    &__items {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        margin-right: 5rem;
        color: $color-main;

        @media only screen and (max-width: $bp-1100) {
            display: none;
        }
    }

    &__item {
        margin: 0rem 4rem;
        transition: all .4s;
        color: $color-main;
        position: relative;

        &::after {
            content: "";
            display: flex;
            border-bottom: 2px solid $color-main;
            position: absolute;
            top: 1.5rem;
            z-index: 1;
            opacity: 0;
            transition: all .4s;
            transform: translateY(1.5rem);
            color: $color-main;
            width: 100%;
        }

        &:hover {

            // On hover change after sudo element styles
            &::after {
                color: $color-main;
                transform: translateY(1rem);
                opacity: 1;
                z-index: 1;
            }
        }

        &:hover .navigation__link {
            color: $color-main;
        }
    }

    &__link {

        &:link,
        &:visited {
            text-decoration: none;
            color: $color-main;
            font-size: 2rem;
            transition: .5s;
        }
    }
}