// // ******************** SECTION REACH ME ********************
.reach-me {
    display: flex;
    flex-direction: column;
    // overflow: hidden;
    
    position: absolute;
    top: -3rem;
    bottom: 0;
    z-index: 1000;
    width: 25%;
    padding: 2rem;
    border-right: 1px solid $color-main;
    
    background-image: linear-gradient(to top, #031122 0%, $color-black 100%);
    color: $color-gray-blue-1;
    font-size: 1.5rem;
    margin-left: -25%;

    @media only screen and (max-width: $bp-800) {
        background-image: linear-gradient(to bottom, #031122 0%, $color-black 100%);
        position: relative;
        top: 0rem;
        margin-left: 0;
        width: 100%;
        border-right: none;
    }

    // ******************** TOP CONTENT
    &__content-top {
        flex: 0 0 50%;  //grow, shrink, basis

        &:hover .reach-me__contact-heading{
            color: $color-main;

            @media only screen and (max-width: $bp-800) {
                color: $color-gray-blue-1;
            }
            &::before {
                height: .2rem;
                transform: scaleX(1);
            }
        }
    }

    &__img-container {
        padding-top: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        @media only screen and (max-width: $bp-800) {
            width: 80%;
            margin: 0 auto;
        }
    }

    &__img {
        width: 70%;
        border: 2px solid $color-white;

        @media only screen and (max-width: $bp-800) {
            width: 60%;
        }
        @media only screen and (max-width: $bp-500) {
            width: 70%;
        }
        @media only screen and (max-width: $bp-300) {
            width: 80%;
        }
        
    }

    &__contact {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $bp-800) {
            padding: 4rem 10rem;
        }
        @media only screen and (max-width: $bp-500) {
            padding: 4rem 3.5rem;
        }
        @media only screen and (max-width: $bp-300) {
            padding: 4rem 1rem;
        }
    }

    &__contact-heading {
        color: $color-main;
        font-size: 3rem;
        position: relative;
        transition: .3s;

        @media only screen and (max-width: $bp-800) {
            color: $color-gray-blue-1;
        }
        @media only screen and (max-width: $bp-300) {
            font-size: 2.5rem;
            width: 100%;
            text-align: center;
            padding-bottom: 1rem;
        }

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            background-color: $color-main;
            transition: .3s;
            width: 100%;
            height: .2rem;
            transform: scaleX(0);

            @media only screen and (max-width: $bp-800) {
                content: none;
            }
        }
    }

    &__contact-link {
        &,
        &:link,
        &:visited {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .5rem 0;
            color: inherit;
            text-decoration: none;
            font-size: 2rem;
            width: 80%;

            @media only screen and (max-width: $bp-300) {
                font-size: 1.7rem;
            }
        }
    }

    &__contact-mail {
        &:hover {
            color: #80FF72;
            
            @media only screen and (max-width: $bp-800) {
                color: $color-gray-blue-1;
            }

            .mail-icon {
                fill: #80FF72;

                @media only screen and (max-width: $bp-800) {
                    fill: $color-gray-blue-1;;
                }
            }
        }
    }

    &__contact-facebook {
        &:hover {
            color: #3B5998;

            @media only screen and (max-width: $bp-800) {
                color: $color-gray-blue-1;
            }
            .facebook-icon {
                fill: #3B5998;

                @media only screen and (max-width: $bp-800) {
                    fill: $color-gray-blue-1;
                }
            }
        }
    }

    &__contact-instagram {
        &:hover {
            color: #c13584;

            @media only screen and (max-width: $bp-800) {
                color: $color-gray-blue-1;
            }
            .instagram-icon {
                fill: #c13584;

                @media only screen and (max-width: $bp-800) {
                    fill: $color-gray-blue-1;
                }
            }
        }
    }

    // svg icons general
    &__icons {
        width: 3rem;
        height: 3rem;
        fill: $color-white;

        @media only screen and (max-width: $bp-300) {
            width: 2rem;
            height: 2rem;
        }
    }

    .mail-icon {
        width: 3.2rem;
        height: 4rem;

        @media only screen and (max-width: $bp-300) {
            width: 2.2rem;
            height: 3rem;
        }
    }

    // ******************** BOTTOM CONTENT 
    
    &__content-bottom {
        padding-top: 1rem;

        &:hover .reach-me__more-heading {
            color: $color-main;

            @media only screen and (max-width: $bp-800) {
                color: $color-gray-blue-1;
            }

            &::before {
                transform: scaleX(1);
            }
        }
    }

    &__more {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__more-heading {
        color: $color-gray-blue-1;
        font-size: 3rem;
        position: relative;
        transition: .3s;
        padding-bottom: 1.5rem;

        &::before {
            content: '';
            position: absolute;
            top: 70%;
            left: 0;
            background-color: $color-main;
            transition: .3s;
            width: 100%;
            height: .2rem;
            transform: scaleX(0);

            @media only screen and (max-width: $bp-800) {
                content: none;
            }
        }
    } 

    // More me link styles
    &__more-link {
    &,
    &:link,
    &:visited  {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .8rem;
        color: inherit;
        text-decoration: none;
        font-size: 2rem;
        width: 80%;
        }

        &:hover {
            color: $color-main;

            @media only screen and (max-width: $bp-800) {
                color: $color-gray-blue-1;
            }
        }
    }


    // MODAL 
    // &__modal {
    //     position: absolute;
    //     top: 0;
    //     left: 50%;
    //     width: 200px;
    //     height: 200px;
    //     background-color: #fff;
    // }
    
    
     
    // FOOTER
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;

        @media only screen and (max-width: $bp-800) {
            position: relative;
        }

        &__p {
            text-align: center;
            padding: 1rem 1rem;
            background-color: rgba(245, 97, 64, 0.05);

            @media only screen and (max-width: $bp-800) {
                padding: 4rem 0 0 0;
                background-color: transparent;
            }
        }
    }
}