// FONT IMPORT
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&subset=latin-ext');


$font-1: 'Raleway',
sans-serif;
$font-5: "Lato",
sans-serif;


//GENERAL STYLES
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Setting 1rem
    font-size: 62.5%; // 1rem = 10px
}

body {
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    transition: .3s;
    position: relative;
    background-color: #F3EFE0;
    border-left: 1rem solid $color-main;
    border-right: 1rem solid $color-main;
    // overflow: hidden;
    overflow: visible;

    display: flex;
    flex-direction: column;

    //Typography 
    font-family: $font-1;
    font-weight: 400;
}

::selection {
    background-color: $color-main;
    color: $color-white;
}